@import "../../common/theme/theme.less";


.page-wrapper {
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.content {
  margin: 16px;
  padding: 0 50px;
  background: #fff;
  min-height: 280;
  overflow: auto; 
}

.about-answer-text {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 24px;
  font-size: 14px;
  color: @c-black;
}


.about-wrapper-content-box {
  text-align: left;
  margin: 120px auto;
  max-width: 600px;
}


#second-title {
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: @f-small-title;
    color: @c-black;
}