.page-wrapper {
  margin: 0px;
}

.content {
  margin: 24px 16px;
  padding: 0 50px;
  background: #fff;
  min-height: 280;
}

.form-content {
  max-width: 600px;
  margin: auto;
  margin-top: 150px;
}

.steps {
  margin: 24px 16px;
  padding-bottom: 10px;
}